<%/*written by: Kylie Chow, Samantha Cheng, Nandita Shenoy
tested by: Kylie Chow, Samantha Cheng, Nandita Shenoy
debugged by: Kylie Chow, Samantha Cheng, Nandita Shenoy*/%>


<!-- views/partials/delete-customer.ejs -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class = "modal-dialog" role = "document">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title">Delete Customer</h5>
            </div>
            <div class = "modal-body">
                Are you sure you want to delete this customer?
            </div>
            
            <div class = "modal-footer">
                <a href="" class="btn btn-danger" id="delete-customer-button">Delete</a>
                <button type = "button" class = "btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>