<%/*written by: Kylie Chow, Samantha Cheng, Nandita Shenoy
tested by: Kylie Chow, Samantha Cheng, Nandita Shenoy
debugged by: Kylie Chow, Samantha Cheng, Nandita Shenoy*/%>

<!-- views/partials/footer.ejs -->
<p class="text-right text-muted" style="padding-right:20px;"> Software Engineering Team 2 Spring 2020</p>