<!-- 
written by: Samantha Cheng
tested by: Samantha Cheng, Kylie Chow, Nandita Shenoy
debugged by: Samantha Cheng, Kylie Chow, Nandita Shenoy 
-->

<!-- views/partials/footer.ejs -->
<p class="text-right text-muted" style="padding-right:20px;"> Software Engineering Team 2 Spring 2020</p>