/*written by: Kylie Chow, Samantha Cheng, Nandita Shenoy
tested by: Kylie Chow, Samantha Cheng, Nandita Shenoy
debugged by: Kylie Chow, Samantha Cheng, Nandita Shenoy*/


<div class="sidebar-container">
    <div class="sidebar-logo">
      <img src="images/zplogo.png" alt="logo" style="width:28px; height:28px">
      Zippy Park
    </div>
    <!-- use Font Awesome icons -->
    <ul class="sidebar-navigation">
      <li>
        <a href="./dashboard">
          <i class="fa fa-home" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="./statistics">
          <i class="fa fa-line-chart" aria-hidden="true"></i> Statistics
        </a>
      </li>
      <li>
        <a href="./reservations">
          <i class="fa fa-car" aria-hidden="true"></i> Reservations
        </a>
      </li>
      <li>
        <a href="./customers">
          <i class="fa fa-users" aria-hidden="true"></i> Customers
        </a>
      </li>
    </ul>
</div>
