/*written by: Kylie Chow, Samantha Cheng, Nandita Shenoy
tested by: Kylie Chow, Samantha Cheng, Nandita Shenoy
debugged by: Kylie Chow, Samantha Cheng, Nandita Shenoy*/

<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
	<div class="login-logo">
		<img src="images/zplogo.png" alt="logo" style="width:50px; height:50px">
	</div>
		<div class="login-form">
			<h1>ZippyPark Login</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>