<!-- views/pages/statistics.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <div class="jumbotron">
                    <h1> Statistics </h1>
                </div>
                <button id="resTimeButton">Average number of Reservations per hour over last 30 days</button>
                <button id="resDateButton">Number of reservations per date over the last 30 days</button>
                <button id="WIDate">Number of walkins per date over last 30 days</button>
                <button id="WITime">Average number if walkins per hour over the last 30 days</button>
                <button id="RevButton">Revenue per day last week</button>
                <button id="RevHour">Average Revenue per hour over the last 30 days</button>
            </div>
        </div>
 
        <% include ../partials/footer %>
    </div>
    <script>
    var button = document.getElementById('resTimeButton');
    button.onclick = function() {
    location.assign('/byTime');
}
    var buttona = document.getElementById('resDateButton');
    buttona.onclick = function() {
    location.assign('/byDate');
}
    var buttonb = document.getElementById('WIDate');
    buttonb.onclick = function() {
    location.assign('/byDateWI');
}
    var buttonc = document.getElementById('WITime');
    buttonc.onclick = function() {
    location.assign('/byTimeWI');
}
var buttond = document.getElementById('RevButton');
    buttond.onclick = function() {
    location.assign('/revWeek');
}
var buttone = document.getElementById('RevHour');
    buttone.onclick = function() {
    location.assign('/revPerHour');
}
    </script>
</body>
</html>

