<!-- 
written by: Samantha Cheng, Kylie Chow, Nandita Shenoy
tested by: Samantha Cheng, Kylie Chow, Nandita Shenoy
debugged by: Samantha Cheng, Kylie Chow, Nandita Shenoy 
-->
<!-- views/pages/statistics.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <div style="margin:20px">
                    <h1>Statistics </h1>
                    <h5 style="font-style:italic">Click a tab below to view the corresponding graph</h5>
                </div>
                <div class="accordion" id="graph-accordion">
                    <div class="card">
                        <div class="card-header">
                            <button id="byTime-button" class="stat-button btn-block" data-toggle="collapse" data-target="#byTime-collapse">View Reservations per Hour</button>
                        </div>
                        <% include ../partials/graphs/byTime.ejs %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button id="byDate-button" class="stat-button btn-block" data-toggle="collapse" data-target="#byDate-collapse">View Reservations per Day</button>
                        </div>
                        <% include ../partials/graphs/byDate.ejs %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button id="byDateWI-button" class="stat-button btn-block" data-toggle="collapse" data-target="#byDateWI-collapse">View Walkins per Day</button>
                        </div>
                        <% include ../partials/graphs/byDateWI.ejs %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button id="byTimeWI-button" class="stat-button btn-block" data-toggle="collapse" data-target="#byTimeWI-collapse">View Walkins per Hour</button>
                        </div>
                        <% include ../partials/graphs/byTimeWI.ejs %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button id="revWeek-button" class="stat-button btn-block" data-toggle="collapse" data-target="#revWeek-collapse">View Revenue per Day Last Week</button>
                        </div>
                        <% include ../partials/graphs/revWeek.ejs %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <button id="revPerHour-button" class="stat-button btn-block" data-toggle="collapse" data-target="#revPerHour-collapse">View Revenue per Hour</button>
                        </div>
                        <% include ../partials/graphs/revPerHour.ejs %>
                    </div>
                </div>                
            </div>
        </div>
 
        <% include ../partials/footer %>
    </div>
    <script>
        $(document).ready( function () {
            $('#byDate-table').DataTable();
            $('#byTime-table').DataTable();
            $('#byDateWI-table').DataTable();
            $('#byTimeWI-table').DataTable();
            $('#revPerHour-table').DataTable();
            $('#revWeek-table').DataTable();
        });
    </script>
</body>
</html>