<!-- views/pages/statistics.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <div style="margin:20px">
                    <h1>Statistics </h1>
                    <h5 style="font-style:italic">Click a button below to view the corresponding graph</h5>
                </div>
                <div>
                    <button id="resTimeButton" class="stat-button" data-toggle="collapse" data-target="#byTime-collapse">View Reservations per Hour</button>
                </div>
                <% include ../partials/graphs/byTime.ejs %>
                <div>
                    <button id="resDateButton" class="stat-button" data-toggle="collapse" data-target="#byDate-collapse">View Reservations per Day</button>
                </div>
                <% include ../partials/graphs/byDate.ejs %>
                <div>
                    <button id="WIDate" class="stat-button" data-toggle="collapse" data-target="#byDateWI-collapse">View Walkins per Day</button>
                </div>
                <% include ../partials/graphs/byDateWI.ejs %>
                <div>
                    <button id="WITime" class="stat-button" data-toggle="collapse" data-target="#byTimeWI-collapse">View Walkins per Hour</button>
                </div>
                <% include ../partials/graphs/byTimeWI.ejs %>
                <div>
                    <button id="RevButton" class="stat-button" data-toggle="collapse" data-target="#revWeek-collapse">View Revenue per Day Last Week</button>
                </div>
                <% include ../partials/graphs/revWeek.ejs %>
                <div>
                    <button id="RevHour" class="stat-button" data-toggle="collapse" data-target="#revPerHour-collapse">View Revenue per Hour</button>
                </div>
                <% include ../partials/graphs/revPerHour.ejs %>
            </div>
        </div>
 
        <% include ../partials/footer %>
    </div>
    <script>
        $(document).ready( function () {
            $('#byDate-table').DataTable();
            $('#byTime-table').DataTable();
            $('#byDateWI-table').DataTable();
            $('#byTimeWI-table').DataTable();
            $('#revPerHour-table').DataTable();
            $('#revWeek-table').DataTable();
        });
    </script>
</body>
</html>