<!-- views/partials/graphs/byTime.ejs -->
<div id = "byTime-collapse" class="collapse">
    <p align="center" style="font-size:20px"> Average Reservations per Hour</p>
    <p align="left" style="padding-left:20px;font-size:12px"> Data recorded from the past 30 days.</p>
    <!-- Chart -->
    <canvas id="chartByTime"></canvas>
    <%let count = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; %>
    <% if ( recordsByTime!= null ) { %>
        <% recordsByTime.forEach(function(record) {  %>
            <% count.splice( record.Time,1,record.Count); %>
        <% }) %>
    <% } %>
    <script>
        let chartByTimeData = [<%=count%>];
        let ctxByTime = document.getElementById('chartByTime');
        let chartByTime = new Chart(ctxByTime, {
            type: 'bar',
            data: {
                labels: ['0:00','1:00','2:00','3:00','4:00','5:00',
                '6:00','7:00','8:00','9:00','10:00','11:00',
                '12:00','13:00','14:00','15:00','16:00','17:00',
                '18:00','19:00','20:00','21:00','22:00','23:00'],
                datasets: [{
                    label: '# of Reservations',
                    data: chartByTimeData,
                    borderWidth: 1,
                    backgroundColor: "#2574a9"
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <!-- Table -->
    <table id = "byTime-table" class = "table table-bordered">
        <thead>
            <tr>
                <!-- table headings -->
                <th class="text">Start Time</th>
                <th class="text"> Average Number of Reservations </th>
            </tr>
        </thead>
        <tbody>
        <!-- take data from Records table -->
            <% if ( recordsByTime!= null ) { %>
                <% recordsByTime.forEach(function(record) {  %>
                    <tr value="<%= record.Time %>">
                        <td>
                            <%= record.Time %>
                        </td>
                        <td>
                            <%= record.Count %>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>