/*written by: Kylie Chow, Samantha Cheng, Nandita Shenoy
tested by: Kylie Chow, Samantha Cheng, Nandita Shenoy
debugged by: Kylie Chow, Samantha Cheng, Nandita Shenoy*/

<!-- views/partials/graphs/revPerHour.ejs -->
<div id = "revPerHour-collapse" class="collapse">
    <div class="card-body">
        <p align="center" style="font-size:20px"> Average Revenue per Hour</p>
        <p align="left" style="padding-left:20px;font-size:12px"> Data recorded from the past 30 days.</p>

        <!-- Chart -->
        <canvas id="chartRevPerHour"></canvas>
        <%let count = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; %>

        <% if ( recordsRevPerHour!= null ) { %>
            <% recordsRevPerHour.forEach(function(record) {  %>
                <%count.splice(record.Time,1, record.Revenue);%>
            <% }) %>
        <% } %>

        <script>
            let chartRevPerHourData = [<%=count%>];
            let ctxRevPerHour = document.getElementById('chartRevPerHour');
            let chartRevPerHour = new Chart(ctxRevPerHour, {
                type: 'line',
                data: {
                    labels: ['0:00','1:00','2:00','3:00','4:00','5:00',
                    '6:00','7:00','8:00','9:00','10:00','11:00',
                    '12:00','13:00','14:00','15:00','16:00','17:00',
                    '18:00','19:00','20:00','21:00','22:00','23:00'],
                    datasets: [{
                        label: 'Revenue in USD',
                        data: chartRevPerHourData,
                        lineTension: 0,
                        backgroundColor: "#2574a9"
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <!-- Table -->
        <table id = "revPerHour-table" class = "table table-bordered">
            <thead>
                <tr>
                    <!-- table headings -->
                    <th class="text">Hour</th>
                    <th class="text"> Average Revenue</th>
                </tr>
            </thead>
            <tbody>
            <!-- take data from Records table -->
                <% if ( recordsRevPerHour!= null ) { %>
                    <% recordsRevPerHour.forEach(function(record) {  %>
                        <tr value="<%= record.Time %>">
                            <td>
                                <%= record.Time %>
                            </td>
                            <td>
                                <%= record.Revenue %>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>