<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <table id = "customer_table" class = "table table-bordered">
                    <thead>
                        <tr>
                            <th class="text">First Name</th>
                            <th class="text">Last Name</th>
                            <th class="text">Barcode</th>
                            <th class="text">License Number</th>
                            <th class="text">Points</th>
                            <th class="text">Select</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
        
        <% include ../partials/footer %>
    </div>
<script>
    $(document).ready( function () {
        $('#customer_table').DataTable();
    });
</script>
</body>
</html>