<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <div class="jumbotron">
                    <h1> Customers </h1>
                </div>
            </div>
        </div>
        
        <% include ../partials/footer %>
    </div>

</body>
</html>